@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.toast {
		@apply border-2  border-b-4 border-black;
}


:root [data-theme='wintry'] {
--theme-font-family-base: 'Kodchasan', sans-serif;
--theme-font-family-heading: 'Kodchasan', sans-serif;
}
